altgraph==0.17.4
et_xmlfile==2.0.0
macholib==1.16.3
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
setuptools==80.9.0
ttkbootstrap==1.16.0
wheel==0.45.1
